* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --primary: #ffbb00;
  --bg: #f5f5f5;
  --card: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.navbar input {
  width: 40%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #f1f3f4;
}

.profile {
  background: var(--primary);
  padding: 10px;
  border-radius: 50%;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #fff;
  padding: 20px;
  min-height: 100vh;
}

.sidebar p {
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar p:hover {
  color: var(--primary);
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
  background: var(--bg);
}

/* INPUT */
.note-input {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.note-input:hover {
  transform: scale(1.02);
}

.note-input input,
.note-input textarea {
  width: 100%;
  border: none;
  margin: 10px 0;
  padding: 10px;
  background: #f1f3f4;
  border-radius: 5px;
}

.note-input button {
  background: var(--primary);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* NOTES GRID */
#notesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 30px;
  gap: 20px;
}

/* CARD */
.note-card {
  background: var(--card);
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.note-card:hover {
  transform: translateY(-5px);
}

.note-card button {
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.note-card button:first-child {
  background: #4caf50;
  color: white;
}

.note-card button:last-child {
  background: red;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar input {
    width: 60%;
  }

  .note-input {
    width: 90%;
  }
}